<div>
  
  <div *ngFor="let question of question">
    <h3>Category:</h3>
    <p>{{question.category.title}}</p>

    <h3>Question:</h3>
    <p>{{question.question}}</p>

    <h3>Points:</h3>
    <p>{{question.value}}</p>

      <h3>Type Your Answer:</h3>
      <input [(ngModel)]="userAnswer"/>
      <button (click)="buttonClicked()" id="submit-button">Submit</button>

    
      <h3>Your total score is:</h3>     
      <p>{{totalscore}}</p>

  </div>

  <!--<div id="next-button">
    <button (click)="nextQuestion()">Next Question</button>
  </div>-->

</div>

